<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/stellan.png" alt="Stellan" class="img-thumbnail rounded-circle" width="200" height="200" />
      <h1 class="display-4">Archilst</h1>
      <p class="lead">Students | Photographer</p>
    </div>
  </div>
</div>
